/* stylelint-disable selector-class-pattern */
:root {
  --code-journal-background: rgb(240, 240, 240);
  --purple-color: rgb(86, 43, 129);
  --input-border-color: rgba(128, 128, 128, 0.329);
}

/* BASE CSS SELECTORS */

body {
  font-family: Roboto, sans-serif;
  background: var(--code-journal-background);
}

header {
  color: #fff;
  background-color: var(--purple-color);
}

h1 {
  font-size: 2.5rem;
  text-shadow: 0 2px 5px grey;
}

h1,
h2,
label {
  text-transform: capitalize;
}

label {
  font-size: 1.3rem;
  font-weight: 700;
  text-shadow: 0 1.5px 2px grey;
}

input,
textarea {
  border: 2px solid var(--input-border-color);
  border-radius: 5px;
}

input:hover,
textarea:hover {
  border-color: var(--purple-color);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

/* HEADER SECTION */

.project-name {
  font-size: 1.6rem;
  font-weight: 400;
}

.entries-button__div > a {
  font-size: 1.4rem;
  border-radius: 20px;
  background-color: var(--purple-color);
}

.entries-button__div > a:hover {
  opacity: 80%;
}

.entries-button__div > a:active {
  background-color: rgb(95 47 143);
}

.new-button {
  display: inline-block;
  font-size: 1.3rem;
  background-color: var(--purple-color);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 5px grey;
  text-transform: uppercase;
  transition: transform 150ms;
}

.new-button:hover {
  transform: scale(1.2);
}

.new-button:active {
  transform: translateY(5px);
}

/* FORM SECTION */

.submit-button {
  color: #fff;
  background-color: var(--purple-color);
  font-size: 1.3rem;
  border: none;
  box-shadow: 1px 3px 5px grey;
  text-transform: uppercase;
  transition: transform 150ms;
}

.submit-button:hover {
  transform: scale(1.2);
  border-color: none;
}

.submit-button:active {
  transform: translateY(5px);
}

/* DOM SECTION */

.dom-row-layout {
  box-shadow: 0 0 5px grey;
  transition: transform 300ms;
}

.dom-row-layout:hover {
  transform: translateY(10px);
}

.no-entries-div {
  font-size: 1.4rem;
  text-align: center;
}

.pen-icon {
  display: inline-block;
  color: var(--purple-color);
  font-size: 1.4rem;
  font-weight: 900;
  border-radius: 10rem;
  cursor: pointer;
  transition: transform 200ms;
}

.pen-icon:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px white;
}

.pen-icon:active {
  transform: translateY(3px);
  box-shadow: 0 0 10px white;
}

/* UTILITY CLASSES */
