/* stylelint-disable selector-class-pattern */

/* BASE CSS SELECTORS */

header {
  padding: 0.1rem 0;
}

img {
  width: 100%;
  max-width: 100%;
}

label {
  display: inline-block;
  margin: 1.5rem 0 0.5rem;
}

input {
  padding: 0.75rem 0 0.75rem 0.4rem;
}

textarea {
  resize: none;
  padding-left: 0.5rem;
}

input,
textarea {
  width: 100%;
  display: block;
}

/* HEADER/MAIN SECTION */

.header-layout {
  align-items: center;
}

.entries-button__div {
  margin-left: 2rem;
}

.main-title-layout {
  align-items: center;
  justify-content: space-between;
}

.new-button {
  padding: 0.6rem 1.1rem;
}

/* FORM SECTION */

.submit-button {
  margin: 2rem 0;
  padding: 0.6rem 1.3rem;
}

/* DOM SECTION */

div[data-view="entries"] {
  margin-bottom: 2rem;
}

.dom-row-layout {
  margin-top: 2rem;
  padding: 0.5rem;
}

.no-entries-div {
  margin-top: 4rem;
}

.title-edit-layout {
  justify-content: space-between;
  align-items: center;
}

.title-div-layout {
  width: 70%;
}

.pen-icon {
  padding: 0.5rem;
}

/* UTILITY CLASSES */

.text-align-right {
  text-align: right;
}

.justify-content-end {
  justify-content: flex-end;
}
