/* stylelint-disable selector-class-pattern */
:root {
  --typical-button-padding: 0.6rem 1.3rem;
}

/* BASE CSS SELECTORS */

header {
  padding: 0.1rem 0;
}

img {
  width: 100%;
  max-width: 100%;
}

label {
  display: inline-block;
  margin: 1.5rem 0 0.5rem;
}

input {
  padding: 0.75rem 0 0.75rem 0.4rem;
}

textarea {
  resize: none;
  padding-left: 0.5rem;
}

input,
textarea {
  width: 100%;
  display: block;
}

/* HEADER/MAIN SECTION */

.header-layout {
  align-items: center;
}

.entries-button__div {
  margin-left: 1.25rem;
}

.entries-button__div > a {
  padding: 0.25rem 0.75rem;
}

.main-title-layout {
  align-items: center;
  justify-content: space-between;
}

.new-button {
  padding: 0.6rem 1.1rem;
}

/* FORM SECTION */

.submit-button,
.delete-button {
  margin: 2rem 0;
  padding: var(--typical-button-padding);
}

.delete-submit-button-layout {
  justify-content: space-between;
  align-items: center;
}

/* DOM SECTION */

div[data-view="entries"] {
  margin-bottom: 2rem;
}

.dom-row-layout {
  margin-top: 2rem;
  padding: 0.5rem;
}

.no-entries-div {
  margin-top: 4rem;
}

.title-edit-layout {
  justify-content: space-between;
  align-items: center;
}

.title-div-layout {
  width: 70%;
}

.pen-icon {
  padding: 0.5rem;
}

/* MODAL SECTION */

.modal-layout {
  width: 80%;
  max-width: 400px;
  height: 180px;
  margin: auto;
  justify-content: center;
}

.yes-no-buttons-layout {
  margin-top: 2.5rem;
  justify-content: space-between;
  align-items: center;
}

.no-button,
.yes-button {
  padding: var(--typical-button-padding);
}

/* UTILITY CLASSES */
